* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-variant-ligatures: none;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'site_font';
	src: url('fonts/site_font.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'site_font_test';
	src: url('fonts/site_font_test.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.page-wrapper {
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
}
.welcome {
		font-family: 'site_font',sans-serif;
		font-size: clamp(90px, 30vw, 150px);
		font-weight: 900;
		color: rgba(0 0 0 / 0.85);
		letter-spacing: -0.03em;
		line-height: .6em;
		position: absolute;
		left: -25px;
		bottom: 0px;
}

.welcome2 {
	margin-left: 56px;
}

.recipes {
	margin: 10px 40px 0 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 3px;
}

.recipes ul li {
	list-style: none;
	text-align: right;
	margin-bottom: -0.3em;
}

.recipes ul li a {
	font-family: 'site_font', Georgia;
	font-size: clamp(20px, 5vw, 25px);
	color: rgba(0 0 0 / 0.3);
	position: relative;
	vertical-align: middle;
}

.recipes ul li a:hover, 
.recipes ul li a:focus {
	color: rgba(0 0 0 / 0.7);
}

.recipes ul li a::before {
	content: attr(aria-label);
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%); /* Is this property with top:50% the best way to vertically center the hover text with the a element? */
	margin-right: 10px;
	opacity: 0;
	white-space: nowrap;
	color: rgba(0 0 0 / 0.45);
	font-size: clamp(14px, 5vw, 16px);
	text-transform: lowercase;
	transition: opacity 0.5s;
	pointer-events: none;
}

.recipes ul li a:hover::before,
.recipes ul li a:focus::before {
	opacity: 1;
}

.about-us {
	width: 100px;
	height: 100px;
	background-color: rgba(0 0 0 / 0.85);
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 30%;
	left: 0px;
	transform: rotate(90deg);
}

.about-us-inner {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: white;
	line-height: 1.3em;
	text-transform: uppercase;
}



@media (max-width: 450px) {
	.welcome {
		top: 4px;
		left: auto;
		right: 0px;
		bottom: auto;
	}

	.page-wrapper {
		height: auto;
	}

	.recipes {
		margin-top: 180px;
		margin-right: 30px;
	}

	.recipes ul li a {
	font-size: clamp(20px, 10vw, 40px);
	}
}