* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'site_font';
  src: url('fonts/site_font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.welcome-line {
    font-family: 'site_font',sans-serif;
    font-size: clamp(90px, 30vw, 150px);
    font-weight: 900;
    letter-spacing: -0.03em;
    line-height: .6em;
    position: absolute;
    left: -25px;
    bottom: 0px;
}

.recipes {

}

@media (max-width: 400px) {
  .welcome-line {
    top: 4px;
    left: -16px;
    bottom: auto;
  }
}