* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'site_font';
  src: url('fonts/site_font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.welcome-line-1, .welcome-line-2 {
    font-family: 'site_font',sans-serif;
    font-size: clamp(90px, 30vw, 150px);
    font-weight: 900;
    letter-spacing: -0.03em;
}